In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
cust_orderform = pd.read_csv("Costomer+OrderForm.csv")
cust_orderform

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [3]:
cust_orderform.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [4]:
cust_orderform.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [7]:
cust_orderform.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [8]:
cust_orderform.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [9]:
Contigency_table = [[271,267,269,280],[29,33,31,20]]

In [10]:
Contigency_table

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [13]:
#Applying Chi-Square  contingency table to convert observed value into expected value
stat, p, dof, exp=stats.chi2_contingency(Contigency_table)
print(stat,"\n", p,"\n", dof,"\n", exp)

3.858960685820355
 0.2771020991233135
 3
 [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In the above Chi-Square method,pvalue is greater than Significance vale so we fail to reject the Null Hypothesis.